/* extend screen style */

@import "screen.css";

/* Single Post 
/* ---------------------------------------------------------- */
.post-nav-container{
    margin: 3vw auto;
    position: relative;
    z-index: 100;
}

.post-nav-container .back-home{
    font-size: 1.2rem;
    line-height: 2.4rem;
    padding: .8rem 2.5rem;
    opacity: .8;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    background: none;
}

.post-info-container{
    position: relative;
    bottom: -80px;
    z-index: 100;
}

.post-page-title{
    font-size: 4.2rem;
    font-weight: lighter;
    line-height: 4.8rem;
    text-align: left;
    color: white;
    margin: 1.5em 0;
}

.post-page-time{
    line-height: 2rem;
    display: inline-block;
    float: left;
    height: 2rem;
    text-align: left;
}

.post-page-tags{
    display: block;
    clear: both;
    margin-top: 1rem;
    text-align: left;
}

.post-page-tags a:first-child{
    margin-left: 0;
}

.post-page-tags a{
    font-size: 1.4rem;
    line-height: 1.6rem;
    display: inline-block;
    margin: .3rem .6rem .3rem 0;
    padding: 0 1rem;
    color: #fff;
    border-radius: .3rem;
    background: rgba(255,255,255,.3);
}


/* Author */
/* ---------------------------------------------------------- */

.author{
    position: relative;
    width: 100%;
    margin-top: 5rem;
    background: #fff;
}

.author::before{
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    width: 10px;
    height: 194px;
    background: rgba(39,44,49,.15);
    filter: blur(5px);
    left: -5px;
    transform: rotate(-5deg);
}


.author::after{
    content: "";
    position: absolute;
    top: 0px;
    z-index: -1;
    display: block;
    width: 10px;
    height: 194px;
    background: rgba(39,44,49,.15);
    filter: blur(5px);
    right: -5px;
    transform: rotate(5deg);
}

.author-image{
    position: absolute;
    z-index: 2;
    top: -40px;
    left: 50%;
    display: block;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    padding: 6px;
    border-radius: 100%;
    background: #fff;
    box-shadow: #e7eef2 0 0 0 1px;
}

.author-image .img{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
}

.author-detail{
    padding: 6.6rem 1.6rem 1.6rem;
    text-align: center;
}

.author-detail a{
    font-size: 1.6rem;
    color: #999;
}

.author-detail p{
    font-size: 1.4rem;
    line-height: 1.75em;
    margin: 1rem 0;
    color: #333;
}

.author-meta{
    font-size: 1.4rem;
    line-height: 1;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    word-wrap: break-word;
}

.author-meta span{
    margin-right: 1rem;
    color: #9eabb3;
}

/* Qrcode
/* ---------------------------------------------------------- */

.qr-code img {
    display: block;
    width: 13rem;
    height: 13rem;
    box-shadow: 0 0 1px #e3e3e3;
}

.qr-code p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    display: block;
    margin-top: .6rem;
    text-align: center;
    color: #999;
}